@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif !important;
}

.desktop-nav-logo, .mobile-nav-logo {
    max-width: 160px;
    height: auto;
    padding: 1rem;
}
