<!-- SIDEBAR DESKTOP -->
<aside class="bg-primary text-light app-sidebar d-none d-lg-flex flex-column border-end">

    <div class="sidebar-logo p-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-2 mx-auto">
                <div class="desktop-nav-logo mx-auto">
                    <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/Logo_W.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>

    <nav class="sidebar-nav p-2 flex-grow-1">
        <ul class="nav nav-pills flex-column gap-1">

            <li class="nav-item mt-4">
                <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}"
                    href="{{ url_for('index') }}">
                    <i class="bi bi-speedometer2"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>

            <!-- PREVENTIVI -->
            <div class="d-inline-flex align-items-center px-2 mt-3">
                <span class="title-menu-divider fw-bold">Preventivi</span>
                <hr class="ms-2 me-4 w-100">
            </div>

            <!-- nuovo preventivo -->
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'nuovo_preventivo' %}active{% endif %}" href="{{ url_for('nuovo_preventivo') }}">
                    <i class="bi bi-plus"></i>
                    <span class="nav-label">Nuovo preventivo</span>
                </a>
            </li>

            <!-- tutti i preventivi -->
            <li class="nav-item">
                <a href="{{ url_for('preventivi') }}" class="nav-link {% if request.endpoint == 'preventivi' %}active{% endif %}">
                    <i class="bi bi-list-ul"></i>
                    <span class="nav-label">Tutti</span>
                </a>
            </li>

            <!-- CLIENTI -->
            <div class="d-inline-flex align-items-center px-2 mt-3">
                <span class="title-menu-divider fw-bold">Clienti</span>
                <hr class="ms-2 me-4 w-100">
            </div>

            <!-- nuovo cliente -->
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'nuovo_cliente' %}active{% endif %}" href="{{ url_for('nuovo_cliente') }}">
                    <i class="bi bi-person-plus"></i>
                    <span class="nav-label">Nuovo cliente</span>
                </a>
            </li>

            <!-- tutti i clienti -->
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'clienti' %}active{% endif %}" href="{{ url_for('clienti') }}">
                    <i class="bi bi-list-ul"></i>
                    <span class="nav-label">Tutti</span>
                </a>
            </li>



            <!-- LAVORI e TASK -->
            <div class="d-inline-flex align-items-center px-2 mt-3">
                <span class="title-menu-divider fw-bold">Lavori & Task</span>
                <hr class="ms-2 me-4 w-auto">
            </div>

            <!-- nuovo cliente -->
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'nuovo_lavoro' %}active{% endif %}" href="{{ url_for('nuovo_cliente') }}">
                    <i class="bi bi-person-plus"></i>
                    <span class="nav-label">Task</span>
                </a>
            </li>

            <!-- tutti i clienti -->
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'lavori' %}active{% endif %}" href="{{ url_for('lavori') }}">
                    <i class="bi bi-briefcase"></i>
                    <span class="nav-label">Lavori</span>
                </a>
            </li>



        </ul>
    </nav>

    <div class="sidebar-user p-3 border-top">
        <div class="d-flex align-items-center gap-2">
            <img src="{{ url_for('static', filename='img/Logo_Purple.png') }}" class="rounded-circle" width="40">
            <div>
                <div class="fw-semibold">NOMEUTENTE</div>
                <div class="text-secondary small">Ruolo utente}</div>
            </div>
            <a href="#" class="btn btn-sm btn-outline-danger ms-auto">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
    </div>

</aside>

<!-- SIDEBAR MOBILE (Offcanvas) -->
<div class="offcanvas offcanvas-start d-lg-none app-sidebar-mobile" tabindex="-1" id="sidebarMobile"
    aria-labelledby="sidebarMobileLabel">

    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="sidebarMobileLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Chiudi"></button>
    </div>

    <div class="offcanvas-body p-2">
        <ul class="nav nav-pills flex-column gap-1">
            <li class="nav-item"><a class="nav-link active" href="#"><i class="bi bi-speedometer2"></i> Dashboard</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-people"></i> Clienti</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-briefcase"></i> Lavori</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-receipt"></i> Preventivi</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-gear"></i> Impostazioni</a></li>
        </ul>

        <div class="mt-3 pt-3 border-top">
            <a class="btn btn-outline-danger w-100" href="/logout">
                <i class="bi bi-box-arrow-right me-2"></i> Logout
            </a>
        </div>
    </div>
</div>