<!-- NAVBAR DESKTOP -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-none d-lg-flex">
    <div class="container d-inline-flex justify-content-space-between">
        <a class="navbar-brand" href="">
            <img class="mobile-nav-logo px-0" src="{{ url_for('static', filename='img/Logo_W.png')}}" alt="">
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item"><a class="nav-link text-light fw-medium" href="{{ url_for('index') }}">
                        <i class="bi bi-speedometer2"></i>&nbsp;Dashboard</a></li>

                        <li class="nav-item"><a class="nav-link text-light fw-medium" href="{{ url_for('lavori') }}">
                                <i class="bi bi-list-task"></i>&nbsp;Lavori</a></li>
        
                        <li class="nav-item"><a class="nav-link text-light fw-medium" href="{{ url_for('clienti') }}">
                                <i class="bi bi-people-fill"></i>&nbsp;Clienti</a></li>
            </ul>
        </div>
    </div>
</nav>



<!-- NAVBAR MOBILE -->
<nav class="navbar navbar-dark bg-primary d-lg-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img class="desktop-nav-logo" src="{{ url_for('static', filename='img/Logo_W.png')}}" alt="">
        </a>

        <!-- HAMBURGER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenuWrapper"
            aria-controls="mobileMenuWrapper" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>


<!-- WRAPPER ISOLANTE (QUESTO RISOLVE IL PROBLEMA!) -->
<div class="collapse bg-dark d-lg-none" id="mobileMenuWrapper">
    <div class="container pt-2 pb-4 px-4">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link text-light fw-medium" href="{{ url_for('index') }}"
                    data-bs-target="#mobileMenuWrapper">
                    <i class="bi bi-speedometer2"></i>&nbsp;Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light fw-medium" href="{{ url_for('nuovo_lavoro') }}"
                    data-bs-target="#mobileMenuWrapper">
                    <i class="bi bi-plus-square"></i>&nbsp;Nuovo lavoro
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light fw-medium" href="{{ url_for('lavori') }}"
                    data-bs-target="#mobileMenuWrapper">
                    <i class="bi bi-list-task"></i>&nbsp;Tutti i lavori
                </a>
            </li>


        </ul>
    </div>
</div>