{% extends "base.html" %}

{% block title %}Nuovo Cliente{% endblock %}

{% block content %}

<form id="nuovoCliente">
    <div class="container p-0 mt-5" id="formCliente">

        <!-- FORM INPUTS ------------------------------>
        <div class="row">
            <div class="col-8 pe-5">
                <div class="row">
                    <h1>Nuovo cliente</h1>
                    <p class="mb-4">Compila il modulo sottostante per aggiungere un nuovo cliente.</p>

                    <div class="col-md-6">
                        <label class="form-label" for="nomeCliente">Nominativo</label>
                        <input name="nomeCliente" type="text" v-model="nomeCliente" class="form-control">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5">
                        <label class="form-label" for="email">Email</label>
                        <input name="email" type="email" v-model="email" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="telefono">Telefono</label>
                        <input name="telefono" type="tel" v-model="telefono" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="colore">Colore</label>
                        <input style="width:100%;" name="colore" type="color" v-model="colore"
                            class="form-control form-control-color" title="Scegli il colore">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label class="form-label" for="telefono">Note</label>
                        <textarea name="note" v-model="note" class="form-control"></textarea>
                        <button class="mt-4 btn btn-primary" @click="submitFormNewCliente">Salva cliente</button>
                    </div>
                </div>

            </div>


            <!-- PREVIEW CARD -------------------------------->
            <div class="col-4">
                <div class="card h-100"
                    style="border: none!important;">
                    <div class="card-body px-4 py-3 text-center">
                        <span class="circle-propic" :style="{ backgroundColor: colore }">[[ inizialiNome ]]</span>
                        <!-- Nome Cliente -->
                        <div class=" mt-3">
                            <h6 class="fw-bolder">Nome</h6>
                            <h6 class="mb-0 text-capitalize">[[ nomeCliente ? nomeCliente : '-' ]]</h6>
                        </div>
                        <!-- Email -->
                        <div class="mt-3">
                            <h6 class="fw-bolder">Email</h6>
                            <h6 class="mb-0">[[ email ? email : '-' ]]</h6>
                        </div>
                        <!-- Telefono -->
                        <div class="mt-3">
                            <h6 class="fw-bolder">Telefono</h6>
                            <h6 class="mb-0">[[ telefono ? telefono : '-' ]]</h6>
                        </div>
                        <!-- Note -->
                        <div class="mt-3">
                            <h6 class="fw-bolder">Note</h6>
                            <h6 class="mb-0">[[ note ? note : '-' ]]</h6>
                        </div>
                        <!-- Colore -->
                        <div class="mt-3">
                            <h6 class="fw-bolder">Colore</h6>
                            <h6 class="mb-0">
                                <span v-if="colore" :style="{ color: colore, fontWeight: 'bold' }">
                                    [[ colore ]]
                                </span>
                                <span v-else>-</span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>


        </div>
</form>

{% endblock %}