{% extends "base.html" %}

{% block title %}Tutti i clienti{% endblock %}

{% block content %}
<div class="row mx-auto w-100 display-flex align-items-center justify-content-space-between">
    <div class="col-4 px-0">
        <h1>Tutti i clienti</h1>
        <p class="mb-4">Elenco di tutti i clienti presenti nel sistema.</p>
    </div>
    <div class="col-8 d-inline-flex justify-content-end px-0">
        <a href="{{ url_for('nuovo_cliente') }}"><button class="btn btn-primary"><span><i
                        class="bi bi-person-plus-fill"></i></span>&nbsp;Nuovo cliente</button></a>
    </div>
</div>

<div class="container p-0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nominativo</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
            {% if clienti %}
            {% for cliente in clienti %}
            <tr id="clienteRow" class="display: inline-flex; align-items: center;">
                <th scope="row">{{ cliente.id }}</th>
                <td><a href="{{ url_for('cliente_page', cliente_id=cliente.id) }}"
                        class="fw-bold text-decoration-none"><span class="cliente-bullet"
                            style="background-color: {{ cliente.colore }} !important;"></span>{{ cliente.name }}</a>
                </td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.note }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6" class="text-center">Nessun cliente trovato.</td>
            </tr>
            {% endif %}
        </tbody>
</div>

<script>
    function eliminaCliente(cliente_id) {
        if (!confirm('Sei sicuro di voler eliminare questo cliente?')) return;
        fetch(`/clienti/delete/${cliente_id}`)
            .then(response => response.json())
            .then(msg => {
                alert(msg);
                window.location.href = '/clienti'
            })
    };


</script>

{% endblock %}