{% extends "base.html" %}

{% block title %}Tutti i lavori{% endblock %}

{% block content %}
<div class="row mx-auto w-100 display-flex align-items-center justify-content-space-between">
    <div class="col-4 px-0">
        <h6 class="fw-bold text-warning" style="letter-spacing: 1.2px;">MODIFICA CLIENTE</h6>
        <h1>{{ cliente.name }}</h1>
        <p>Totale lavori: <span class="fw-bold" id="testdiv"></span></p> 
    </div>
    <div class="col-8 d-inline-flex justify-content-end px-0">
        <button onclick="clickForDeleteCliente(event, {{ cliente.id }})" class="btn btn-warning me-3 fw-bold"><span><i
                    class="bi bi-pencil"></i></span>&nbsp;Modifica</button>

        <button onclick="clickForDeleteCliente(event, {{ cliente.id }})" class="btn btn-danger fw-bold"><span><i
                    class="bi bi-trash3"></i></span>&nbsp;Elimina cliente</button>
    </div>
</div>

<div class="container p-0 mt-5">
    <h4 class="fw-bold">Lavori associati</h4>
    <table class="table table-striped" id="tabellaLavori">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Preventivato</th>
                <th scope="col">Priorità</th>
                <th scope="col">Stato</th>
                <th scope="col">Data inizio</th>
                <th scope="col">Data fine</th>
                <th scope="col">Data pagamento</th>
                <th scope="col">Note</th>

            </tr>
        </thead>
        <tbody>
            {% if cliente.lavori %}
            {% for lavoro in cliente.lavori %}
            <tr>
                <th scope="row">{{ lavoro.id }}</th>
                <td>{{ lavoro.descrizione }}</td>
                <td>{{ lavoro.preventivato | euro }}</td>
                <td class="text-center"><span class="prio-pill">{{ lavoro.priorita }}</span></td>
                <td>{{ lavoro.stato if lavoro.stato else '-' }}</td>
                <td>{{ lavoro.data_inizio if lavoro.data_inizio else '-' }}</td>
                <td>{{ lavoro.data_fine if lavoro.data_fine else "-" }}</td>
                <td>{{ lavoro.data_pagamento if lavoro.data_pagamento else "-" }}</td>
                <td>{{ lavoro.note if lavoro.note else "-" }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="9" class="text-center">Nessun lavoro trovato per questo cliente.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>



    <script>
        window.onload = async function fetchQuantityLavori() {
            const url = '/api/clienti/get/{{ cliente.id }}'

            try {
                const response = await fetch(url, {
                    method: 'get',
                    headers: {
                        'Accept': 'application/json'
                    }
                })

                if (!response.ok) {
                    throw new Error(`Errore HTTP ${response.status}`)
                }

                const data = await response.json();
                document.getElementById('testdiv').innerText = data.count_lavori;
            }
            catch (errore) {
                console.error(errore)
                document.getElementById('testdiv').innerText = "UNDEFINED";

            }

        }
    </script>
    {% endblock %}