{% extends "base.html" %} {% block title %}{{ lavoro.descrizione }}{% endblock %} {% block content %}
<div id="lavoroPage" data-lavoro-id="{{ lavoro.id }}" v-cloak>
    <div class="row mx-auto w-100 display-flex align-items-center justify-content-space-between mb-3">
        <div class="col-4 px-0">
            <div class="breadcrumbs mb-3">
                <h6 class="text-primary" style="letter-spacing: 1.2px">
                    <span class="text-muted"><a class="a-no-color" href="/lavori">LAVORI</a></span> / <span
                        class="text-uppercase fw-bold">{{ lavoro.descrizione }}</span>
                </h6>
            </div>
            <h4 class="fw-bold">{{ lavoro.descrizione }}</h4>

            <!-- SUMMARY PRIO E STATUS -->
            <!-- <div class="d-inline-flex align-items-center mb-3">

                <div class="me-2 rounded-5 border-light-subtle">

                    <div class="d-inline-flex align-items-center">
                        <span class="prio-pill font-size-pill rounded-5 mx-auto d-flex align-items-center"
                            :class="prioClass(lavoro.priorita)">
                            <i class="me-1" :class="renderPrioIcon(lavoro.priorita)"></i>
                            [[ lavoro.priorita ]] PRIORITA'
                        </span>
                    </div>

                </div>

                <div class="rounded-5 border-light-subtle">
                    <div class="d-inline-flex align-items-center">
                        <span class="prio-pill font-size-pill rounded-5 mx-auto d-flex align-items-center"
                            :class="statoLavoroText(lavoro.stato)">
                            <i class="me-1" :class="renderStatusIcon(lavoro.stato)"></i>
                            [[ lavoro.stato ]]
                        </span>
                    </div>
                </div>


            </div> -->
        </div>

        <!-- PULSANTI AZIONI -->
        <div class="col-8 d-inline-flex justify-content-end">
            <a href="">
                <button class="button-61 button-61-warning me-2">
                    <span><i class="bi bi-pencil"></i></span>&nbsp;Modifica
                </button>
            </a>
            <button onclick="" class="button-61 button-61-danger">
                <span><i class="bi bi-trash3"></i></span>&nbsp;Elimina cliente
            </button>
        </div>
        <!-- <hr /> -->

    </div>


    <!-- ANAGRAFICA LAVORO -->
    <div class="mb-3 mt-2" id="anagraficaLavoro">
        <div class="row w-100">

            <div class="col-auto me-3">
                <div class="d-flex flex-column">
                    <span class="data-label">Prezzo</span>
                    <h6 class="fw-bold mt-1">[[ lavoro.preventivato ]]€</h6>
                </div>
            </div>

            <div class="col-auto me-3">
                <div class="d-flex flex-column">
                    <span class="data-label text-muted">Cliente</span>
                    <div class="d-inline-flex">
                        <a :href="'/clienti/' + lavoro.cliente?.id">
                            <div class="d-flex align-items-center">
                                <h6 class="fw-bold mb-0 mt-1 text-dark a-no-color">
                                    [[ lavoro.cliente?.nome ]]
                                </h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-auto me-3">
                <div class="d-flex flex-column">
                    <span class="data-label text-muted">Priorità</span>
                    <div class="d-inline-flex">
                        <div class="d-flex align-items-center">
                            <h6 class="fw-bold mb-0 mt-1">
                                <!-- <i class="me-1" :class="renderPrioIcon(lavoro.priorita)"></i> -->
                                [[ lavoro.priorita ]]
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto me-3">
                <div class="d-flex flex-column">
                    <span class="data-label text-muted">Stato</span>
                    <div class="d-inline-flex">
                        <div class="d-flex align-items-center">
                            <h6 class="fw-bold mb-0 mt-1" :class="statoColorText(lavoro.stato)">
                                <!-- <i class="me-1" :class="renderPrioIcon(lavoro.priorita)"></i> -->
                                [[ lavoro.stato ]]
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr />
    <div class="row w-100">
        <div class="col">
            <h5 class="fw-bold"></h5><strong>Note: </strong>[[ lavoro?.note ]]
        </div>
    </div>
    <hr />
    <div class="row w-100">

    </div>
</div>
<div class="row mx-auto w-100 display-flex align-items-center justify-content-space-between">
    QUI ANDRANNO I TASK UPDATES
</div>
<div class="row mx-auto w-100 display-flex align-items-center justify-content-space-between">
    QUI ANDRANNO I TASK UPDATES
</div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/lavoro.js') }}"></script>
{% endblock %}