{% extends "base.html" %}

{% block title %}Tutti i lavori{% endblock %}

{% block content %}

<div class="row mx-auto w-100 display-flex align-items-center justify-content-space-between">
    <div class="col-4 px-0">
        <h1>Tutti i lavori</h1>
        <p class="mb-4">Elenco di tutti i lavori nel sistema.</p>
    </div>
    <div class="col-8 d-inline-flex justify-content-end px-0">
        <a href="{{ url_for('nuovo_lavoro') }}"><button class="btn btn-primary"><span><i
                        class="bi bi-journal-plus"></i></span>&nbsp;Nuovo lavoro</button></a>
    </div>
</div>


<div class="container p-0 mt-0" id="lavoriPage">
    <table class="table table-striped" id="tabellaLavori">
        <thead>
            <tr>
                <th scope="col">Descrizione</th>
                <th scope="col">Cliente</th>
                <th scope="col">Preventivato</th>
                <th scope="col">Priorità</th>
                <th scope="col">Stato</th>
                <th scope="col">Data inizio</th>
                <th scope="col">Data fine</th>
                <th scope="col">Data pagamento</th>
                <th scope="col">Note</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% if lavori %}
            {% for lavoro in lavori %}
            <tr>
                <td><span class="fw-bold">{{ lavoro.descrizione }}</span></td>
                <td><span class="cliente-bullet"
                        style="background-color: {{ lavoro.cliente.colore }} !important;"></span><a
                        href="/clienti/{{lavoro.cliente.id}}" class="fw-bold text-decoration-none">{{
                        lavoro.cliente.name}}</a></td>
                <td>{{ lavoro.preventivato | euro }}</td>
                <td class="text-center"><span class="prio-pill">{{ lavoro.priorita }}</span></td>
                <td>[[{{ lavoro.stato if lavoro.stato else '-' }}]]</td>
                <td>{{ lavoro.data_inizio if lavoro.data_inizio else '' }}</td>
                <td>{{ lavoro.data_fine if lavoro.data_fine else "" }}</td>
                <td>{{ lavoro.data_pagamento if lavoro.data_pagamento else "-" }}</td>
                <td id="note_td">{{ lavoro.note if lavoro.note else "-" }}</td>
                <td>
                    <div class="d-inline-flex">
                        <span class="me-1 action-icon edit-icon"><i class="bi bi-pencil text-success"></i></span>
                        <a href=""><span onclick="clickForDeleteLavoro(event, {{ lavoro.id }})"
                                class="action-icon delete-icon"><i class="bi bi-trash3 text-danger"></i></span></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="11" class="text-center">Nessun lavoro trovato.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const lowPrio = 'font-size: 0.8rem; font-weight: bold; border-radius: 10px; background-color: #9be5a0; color: #0f5132; padding: 2px 10px 5px 10px;';
        const medPrio = 'font-size: 0.8rem; font-weight: bold;border-radius: 10px; background-color: #ffdc6e; color: #664d03; padding: 2px 10px 5px 10px;';
        const highPrio = 'font-size: 0.8rem; font-weight: bold;border-radius: 10px; background-color: #ffaeb6; color: #842029; padding: 2px 10px 5px 10px;';

        const prioPill = document.querySelectorAll('.prio-pill');
        console.log(prioPill);
        prioPill.forEach(function (pill) {
            if (pill.textContent === 'Bassa') {
                pill.style = lowPrio;
            } else if (pill.textContent === 'Media') {
                pill.style = medPrio;
            } else if (pill.textContent === 'Alta') {
                pill.style = highPrio;
            }
        })
    });
</script>
{% endblock %}