{% extends "base.html" %}

{% block title %}Nuovo preventivo{% endblock %}

{% block content %}
<div class="row mx-auto w-100 display-flex align-items-center justify-content-space-between">
    <div class="col px-0">
        <h3 class="fw-bolder">Nuovo preventivo</h3>
        <p>Compila il modulo sottostante per aggiungere un nuovo preventivo.</p>
    </div>
</div>

<hr>

<div class="mt-5" id="nuovoPreventivo" data-selected-cliente-id="{{ selected_cliente_id or '' }}" data-selected-lavoro-id="{{ selected_lavoro_id or '' }}">
    <form action="" id="formNuovoPreventivo">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row g-4">
            <div class="col-md-3 col-sm">
                <h5 class="fw-bold">Cliente*</h5>
                <div class="card rounded-3 border border-light-subtle">
                    <div class="card-body p-4">
                        <div class="form-group">
                            <div class="col">
                                <select @change="loadClienteDataByID" class="form-select" name="cliente"
                                    v-model="clienteSelezionato" required>
                                    <option selected disabled>Seleziona cliente</option>
                                    <option v-for="cliente in clienti" :value="cliente.id">[[ cliente?.nome ]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <h5 class="fw-bold">Titolo <span class="text-black-50" style="font-weight: light;">(opzionale)</span></h5>
                <div class="card rounded-3 g-0 border border-light-subtle">
                    <div class="card-body p-4">
                        <input class="form-control" type="text" placeholder="Aggiungi una descrizione breve, altrimenti verra impostata la data odierna come titolo"
                            v-model="titoloPreventivo">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4">
                <h5 class="fw-bold">Aggiungi righe</h5>
                <div class="card rounded-3 g-0 border border-light-subtle w-100">
                    <div class="card-body p-4">
                        <div :id="idRiga" class="row align-items-md-start g-3 w-100">
                            <div class="col-12 col-sm-auto">
                                <div class="form-group">
                                    <input min="1" placeholder="Qta"
                                        class="align-baseline form-control quote-qty-input text-center" type="number" name="qty" :value="qty"
                                        v-model="qty">
                                </div>
                            </div>

                            <div class="col-12 col-lg">
                                <div class="form-group">
                                    <textarea placeholder="Inserisci descrizione lavoro" rows="1" class="form-control quote-description-input"
                                        type="text" name="descrizione" v-model="descrizione"
                                        @input="autoResize($event)"></textarea>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 col-lg-3">
                                <div class="input-group">
                                    <input placeholder="Prezzo imponibile" class="align-baseline form-control quote-price-input" type="number"
                                        name="prezzo" v-model="prezzo">
                                    <span class="input-group-text">&euro;</span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-auto align-self-xxl-center">
                                <button class="button-61-p0" @click="addRigaPreventivo">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-sm mt-4">
                    <h5 class="fw-bold">Righe preventivo</h5>
                    <div class="card rounded-3 g-0 border border-light-subtle">
                        <div class="card-body p-4">
                            <div class="col-auto col-sm align-content-center" v-if="righe.length > 0" v-cloak>
                                <div>
                                    <table class="table preventivo-lines-table">
                                        <thead>
                                            <tr>
                                                <th style="width: auto; width: 50px;"></th>
                                                <th class="col-qta">Qta</th>
                                                <th style="width: auto">Descrizione</th>
                                                <th class="text-end" style="width: 160px">Prezzo imponibile</th>
                                                <th class="text-end" style="width: 160px">Totale imponibile</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-if="righe.length > 0" v-for="riga in righe" :id="riga.idRiga">
                                                <td class="text-center col-qta-cell">
                                                    <strong @click="deleteRigaPreventivo(riga.idRiga)"
                                                        class="text-secondary icon-trash-righe pointer"
                                                        title="Elimina riga">
                                                        <i class="bi bi-trash"></i>
                                                    </strong>
                                                </td>
                                                <td class="text-start col-qta-cell"><strong class="text-primary">[[ riga.qty ]]x</strong></td>
                                                <td class="descrizione-preventivo">[[ riga.descrizione ]]</td>
                                                <td class="text-end">[[ euroFormat(riga.prezzo) ]]&euro;</td>
                                                <td class="text-end">[[ euroFormat(riga.totaleRiga) ]]&euro;</td>
                                            </tr>
                                            <tr id="tr_subtotale">
                                                <td></td>
                                                <td></td>
                                                <td class="fw-bold">Totale imponibile</td>
                                                <td></td>
                                                <td class="fw-bold text-end">[[ euroFormat(subtotale) ]]&euro;</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td class="text-left">IVA 22%</td>
                                                <td></td>
                                                <td class="text-end">[[ euroFormat(subtotale * 0.22) ]]&euro;</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td class="fw-bold">Totale preventivo</td>
                                                <td></td>
                                                <td class="fw-bold text-end">[[ euroFormat(subtotale * 1.22) ]]&euro;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <button class="button-61 w-100" @click="sendForm($event)">Salva</button>
                            </div>

                            <div v-else class="d-flex align-items-center justify-content-center">
                                <span class="text-secondary">Nessuna riga aggiunta</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/preventivo.js') }}"></script>
{% endblock %}
