{% extends "base.html" %} {% block title %}Nuovo preventivo {% endblock %} {% block content %}

<h1>Nuovo preventivo</h1>
<p class="mb-4">Compila il modulo sottostante per aggiungere un nuovo preventivo.</p>

<div id="nuovoPreventivo">
    <form action="" id="formNuovoPreventivo">

        <div class="row mb-3">

            <!-- SELECT CLIENTI -->
            <div class="col-3">
                <div class="form-group">
                    <label class="form-label" for="titolo_prova">Cliente</label>
                    <select @change="loadClienteDataByID" class="form-control form-select" name="cliente" id="">
                        <option value="" selected disabled>Seleziona cliente</option>
                        <option v-for="cliente in clienti" :value="cliente.id">[[ cliente?.nome ]]</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- ANAGRAFICA -->
            <hr class="my-4">
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <h5 class="fw-bold">Anagrafica</h5>
                    </div>
                </div>
                <div class="row">
                    <!-- nominativo e indirizzo -->
                    <div class="col-6 me-3">
                        <div class="d-flex flex-column">
                            <span class="data-label fw-bold">Nome / Ragione Sociale</span>
                            <h6 class="mt-1">[[ clienteData?.nome || '-' ]]</h6>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="data-label fw-bold">Indirizzo</span>
                            <h6 v-if="clienteData.indirizzo" class="mt-1">[[ clienteData?.indirizzo || '-' ]], [[ clienteData?.cap || '-' ]] [[ clienteData?.citta ]] ([[ clienteData?.provincia ]])</h6>
                            <h6 v-else><b>-</b></h6>
                        </div>
                    </div>
                    <!-- p.iva/cf e sdi-->
                    <div class="col-auto">
                        <div class="d-flex flex-column">
                            <span class="data-label fw-bold">P.IVA / C.F</span>
                            <h6 style="text-transform:uppercase" class="mt-1">[[ clienteData?.p_iva || '-' ]]</h6>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="data-label fw-bold">Cod. Univ.</span>
                            <h6 style="text-transform:uppercase" class="mt-1">[[ clienteData?.sdi || '-' ]]</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CONTATTI -->
            <div class="col-5">

                <div class="row">
                    <div class="col">
                        <h5 class="fw-bold">Contatti</h5>
                    </div>
                </div>
                <div class="row">
                    <!-- email e pec-->
                    <div class="col-6 me-3">
                        <div class="d-flex flex-column">
                            <span class="data-label fw-bold">Email</span>
                            <h6 class="mt-1">[[ clienteData?.email || '-' ]]</h6>
                        </div>

                        <div class="d-flex flex-column">
                            <span class="data-label fw-bold">PEC</span>
                            <h6 class="mt-1">[[ clienteData?.pec || '-' ]]</h6>
                        </div>
                    </div>
                    <!-- telefono -->
                    <div class="col-5 me-3">
                        <div class="d-flex flex-column">
                            <span class="data-label fw-bold">Telefono</span>
                            <h6 class="mt-1">[[ clienteData?.telefono || '-' ]]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-3">
        </div>


        <div class="row mt-2">

            <!-- DESCRIZIONE LAVORO -->
            <div class="col-3">
                <div class="form-group">
                    <label class="form-label" for="titolo_prova">Descrizione</label>
                    <input class="form-control" type="text" name="descrizione" :value="descrizione">
                </div>
            </div>

            <!-- PREZZO DESC -->
            <div class="col-auto">
                <div class="form-group">
                    <label class="form-label" for="titolo_prova">Prezzo task</label>
                    <input class="form-control" type="number" name="prezzo" :value="prezzo">
                </div>
            </div>

        </div>

        <button class="btn btn-primary mt-2" @click="sendForm">Vacci</button>
    </form>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/preventivo.js') }}"></script>
{% endblock %}